@inherits ComponentBase

<NavLink class="col-md-4 col-lg-4 col-sm-10 col-10 col-xxl-3 overflow-x-hidden" href="@($"/movies/{CardMovie.Id}")">
    <div class="card p-3">
        <img src="@CardMovie.PosterUrl" alt="@CardMovie.Title" height="300px" class="rounded image-aspect-ratio mb-2" />
        <h5 class="mb-1">@CardMovie.Title</h5>

        <p class="text-muted mb-2">@CardMovie.GetTranslatedGenre()</p>
    </div>
</NavLink>