@using ConnectPlay.TicketPlay.Models
@using ConnectPlay.TicketPlay.UI.App.Components.Base

@inherits TranslatableComponent

<div class="d-flex justify-content-center mt-5 col-12">
    <div class="card w-100">
        <div class="card-body text-center">
            <h4 class="mb-4 fw-bold">Arrangementen</h4>

            <p>Bestel hier je drankje of snack, wij zorgen dat het bij je stoel staat wanneer de film begint!</p>

            <div class="accordion">
                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">Popcorn</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var item in PopcornOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <div class="col-9 text-start">@T[$"orderTickets:arrangements:{item.Item}"]</div>
                            <div class="col-1">@item.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (item.Quantity > 0) item.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@item.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => item.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>

                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">Dranken</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var item in DrinkOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <div class="col-9 text-start">@T[$"orderTickets:arrangements:{item.Item}"]</div>
                            <div class="col-1">@item.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (item.Quantity > 0) item.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@item.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => item.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>

                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">Combideal</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var combi in CombiOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <!-- The text for the combo is a combination of the medium popcorn and drink options -->
                            <div class="col-9 text-start">@T[$"orderTickets:arrangements:{ArrangementItem.MediumPopcorn}"] + @T[$"orderTickets:arrangements:{combi.Drink}"]</div>
                            <div class="col-1">@combi.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (combi.Quantity > 0) combi.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@combi.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => combi.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>
            </div>
        </div>
    </div>
</div>