@using ConnectPlay.TicketPlay.Models
@using ConnectPlay.TicketPlay.UI.App.Components.Base

@inherits TranslatableComponent

<div class="d-flex justify-content-center mt-5 col-12">
    <div class="card w-100">
        <div class="card-body text-center">
            <h4 class="mb-4 fw-bold">@T["orderTickets:arrangements:title"]</h4>

            <p>@T["orderTickets:arrangements:description"]</p>

            <div class="accordion">
                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">@T["orderTickets:arrangements:snacks"]</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var item in SnackOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <div class="col-9 text-start">@item.Name</div>
                            <div class="col-1">@item.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (item.Quantity > 0) item.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@item.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => item.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>

                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">@T["orderTickets:arrangements:drinks"]</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var item in DrinkOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <div class="col-9 text-start">@item.Name</div>
                            <div class="col-1">@item.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (item.Quantity > 0) item.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@item.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => item.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>

                <details class="accordion-item p-3">
                    <summary class="accordion-header d-flex justify-content-between py-3">
                        <h5 class="text-start fw-bold">@T["orderTickets:arrangements:specials"]</h5>
                        <i class="bi bi-arrow-down"></i>
                    </summary>
                    <hr />
                    @foreach (var special in SpecialsOptions)
                    {
                        <div class="row g-4 mb-3 d-flex">
                            <div class="col-9 text-start">@special.Name</div>
                            <div class="col-1">@special.Price.ToString("C")</div>
                            <div class="col-2 d-flex flex-row align-items-center justify-content-end gap-2">
                                <button class="btn btn-outline-secondary" @onclick="() => { if (special.Quantity > 0) special.Quantity--; }">
                                    <i class="bi bi-dash"></i>
                                </button>
                                <p class="mb-0">@special.Quantity</p>
                                <button class="btn btn-outline-secondary" @onclick="() => special.Quantity++">
                                    <i class="bi bi-plus"></i>
                                </button>
                            </div>
                        </div>
                    }
                </details>
            </div>
        </div>
    </div>
</div>