@page "/movies/{Id:int}"
@page "/movies/sneakpreview"
@using ConnectPlay.TicketPlay.UI.App.Components.Base
@inherits TranslatableComponent;
@rendermode InteractiveServer

<PageTitle>@T["movieDetail.pageTitle"]</PageTitle>

@if (IsMovieNotFound)
{
    <div class="container mt-4 text-center">
        <div class="alert alert-warning">
            <p>@T["movieDetail.movieNotFound"]</p>
        </div>
    </div>
}
else
{
    <div class="container mt-4 d-flex flex-column align-items-center">
        <div class="card movie-card mb-4 col-lg-10 col-md-12">
            <div class="row g-0 align-items-start">
                <div class="col-md-4 d-flex justify-content-center p-3">
                    <img src="@DisplayPosterUrl" alt="@DisplayTitle" class="img-fluid rounded" />
                </div>
                <div class="col-md-8 p-4 d-flex flex-column">
                    <h2>@DisplayTitle</h2>
                    @if (!string.IsNullOrWhiteSpace(DisplayMovieMetaText))
                    {
                        <p class="text-muted">@DisplayMovieMetaText</p>
                    }
                    @if (ShowStandardMovieDetails)
                    {
                        @if (DisplayTags.Count > 0)
                        {
                            <div class="mb-3">
                                @foreach (var tag in DisplayTags)
                                {
                                    <span class="badge rounded-pill bg-purple me-1">@tag</span>
                                }
                            </div>
                        }

                        
                    }
                    @if (!string.IsNullOrWhiteSpace(DisplayDescription))
                    {
                        <p>@DisplayDescription</p>
                    }
                </div>
            </div>
            <div class="card-footer pt-3">
                <h5>@T["movieDetail.screenings"]</h5>
                <div class="d-flex flex-wrap gap-3 my-2">
                    @if (!HasAnyScreenings)
                    {
                        <p>@T["movieDetail.noScreenings"]</p>
                    }
                    else if (IsPreview)
                    {
                        @foreach (var screening in previewScreenings)
                        {
                            <div
                                class="card @(screening.Id == websiteService.SelectedScreening?.Id ? "border-primary bg-primary-subtle" : "")">
                                <div class="card-body @(screening.StartTime.ToLocalTime() < DateTimeOffset.Now.ToLocalTime() ? "bg-secondary-subtle text-muted" : "cursor-pointer")"
                                     @onclick="() => SetSelectedScreening(screening)">
                                    <p class="card-subtitle text-body-secondary text-center">
                                        @screening.StartTime.ToLocalTime().ToString("dddd")
                                    </p>
                                    <h2 class="card-title">@screening.StartTime.ToLocalTime().ToString("HH:mm")</h2>

                                    @if (screening.Hall?.Has3DProjector == true)
                                    {
                                        <div
                                            class="d-flex justify-content-between align-items-center gap-2 text-body-secondary fw-bold">
                                            @T["movieDetail.hall"] @screening.Hall?.HallNumber
                                            <i class="bi bi-badge-3d"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center align-items-center gap-2 text-body-secondary fw-bold">
                                            @T["movieDetail.hall"] @screening.Hall?.HallNumber
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var screening in screenings)
                        {
                            <div
                                class="card @(screening.Id == websiteService.SelectedScreening?.Id ? "border-primary bg-primary-subtle" : "")">
                                <div class="card-body @(screening.StartTime.ToLocalTime() < DateTimeOffset.Now.ToLocalTime() ? "bg-secondary-subtle text-muted" : "cursor-pointer")"
                                     @onclick="() => SetSelectedScreening(screening)">
                                    <p class="card-subtitle text-body-secondary text-center">
                                        @screening.StartTime.ToLocalTime().ToString("dddd")
                                    </p>
                                    <h2 class="card-title">@screening.StartTime.ToLocalTime().ToString("HH:mm")</h2>
                                    @if (screening.Hall?.Has3DProjector == true)
                                    {
                                        <div
                                            class="d-flex justify-content-between align-items-center gap-2 text-body-secondary fw-bold">
                                            @T["movieDetail.hall"] @screening.Hall?.HallNumber
                                            <i class="bi bi-badge-3d"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-center align-items-center gap-2 text-body-secondary fw-bold">
                                            @T["movieDetail.hall"] @screening.Hall?.HallNumber
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-between col-lg-10 col-md-12 m-3">
            <button class="btn btn-outline-primary" @onclick="Back">← @T["movieDetail.back"]</button>
            <button class="btn btn-primary" @onclick="ToTickets">@T["movieDetail.next"] →</button>
        </div>
    </div>
}