@page "/kiosk/overview"

@rendermode InteractiveServer

<div class="container mt-4 col-6 offset-3 d-flex flex-column justify-content-center">

    <h2 class="text-center">Je bestelling</h2>

    <div class="card d-flex justify-content-center">
        <div class="row g-0 pt-2" id="screening-details">
            <div class="col-4 d-flex justify-content-center p-3">
                <img src="@Movie.PosterUrl" alt="@Movie.Title poster" class="img-fluid rounded" />
            </div>
            <div class="col-8 d-flex flex-column">
                <h2>@Movie.Title</h2>
                <p class="text-muted">@Movie.Genre • @Movie.Duration min • @Movie.MinimumAge+</p>

                @if (Screening is not null)
                {
                    <p>In zaal @Screening.Hall.HallNumber om @StartTime</p>
                }

                @if (Seats.Any())
                {
                    <p>
                        <b>Je stoelen zijn:</b><br />
                        @(string.Join(", ", Seats))
                    </p>
                }
            </div>
        </div>
        <hr />
        <div class="row p-4" id="bill">
            <h3 class="text-center">Te betalen</h3>

            @foreach (var (ticketType, amount) in Tickets.GroupBy(t => t).Select(group => (group.Key, group.Count())))
            {
                <div class="d-flex flex-row justify-content-between">
                    <p><b>@ticketType</b></p>
                    <p>
                        @amount x @(GetPrice(ticketType).ToString("C")) = @((amount * GetPrice(ticketType)).ToString("C"))
                    </p>
                </div>
            }

            @if (Is3D)
            {
                <hr />
                <div class="d-flex flex-row justify-content-between">
                    <p><b>3D Fee</b></p>
                    <p>
                        @(2.50f.ToString("C"))
                    </p>
                </div>
            }

            <hr />
            <div class="d-flex flex-row justify-content-between">
                <p><b>Totaal</b></p>
                <p>@(CalculateTotal().ToString("C"))</p>
            </div>
            
        </div>
    </div>
</div>

<div class="container d-flex justify-content-between mt-3">
    <button class="btn btn-outline-primary" @onclick="ToMovie">Terug</button>
    <button class="btn btn-primary" @onclick="ToPayment">Verder</button>
</div>
